/* * {
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

nav {
  text-align: right;
}

nav ul {
  padding-right: 20px;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: orange;
}

#comp {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

#comp img {
  width: 40px;
  border-radius: 20px;
}

#eff {
  background-color: orange;
  padding: 8px 20px;
  border-radius: 30px;
  color: black;
}
#sep li {
  &::marker{
  color:orange;
  font-size:15px;
  margin-left: 10px;
}
  font-size: 12px;
  margin-left:18px;
}

#bullet {
  color: orange;
  font-size: 30px;
  display: inline;
}

#cour {
  font-size: 36px;
  margin: 20px 0;
}

 #vid {
     display: flex;
     justify-content: center; 
     margin-top: 20px;
   }
   

.hero-container {
  display: flex;
   justify-content: center; 
   align-items: center;
   flex-wrap: wrap;
   margin-top: 60px;
   }
   
   .content {
     flex: 1; 
     max-width: 500px; 
     margin: 0 10px; 
   }
   
#data {
  background-color: white;
  width: 300px;
  height: 300px;
  text-align: justify;
  padding: 20px;
  color: black;
}

#data p:last-of-type {
  margin-top: 20px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

#start {
  background-color: black;
  color: white;
  padding: 7px 20px;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s;
}

#start:hover {
  background-color: darkgray;
}

#all {
  background-color: transparent;
  border: none;
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
}

.fa {
  margin-left: 40px;
  fill: grey;
}

.fa:hover {
  transition: all 0.3s ease;
  transform: scale(1.5);
  cursor: pointer;
}

video {
  border-radius: 30px;
}

.icons {
  text-align: center;
  margin-top: 50px;
}

   @media (max-width: 768px) {
     .hero-container {
       flex-direction: column; 
       align-items: center; 
     }

     .content {
       width: 90%; 
       margin: 10px 0; 
     }

     #vid {
       margin: 20px 0; 
       width: 100%; 
     }
   } */
